html {
    color: #888;
    font-weight: 300;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    line-height: 2em;
}
h1 {
    font-weight: 200;
    text-align: center;
    font-size: 1.4em;
    line-height: 3em;
    font-family: 'Open Sans', monospace;
}
a {
    color: #888;
    text-decoration: none;
}
a:hover {
    color: #222;
}
.chartContainer {
    height: 600px;
    width: 900px;
    margin: auto;
}
.footer {
    text-align: center;
    font-size: .75em;
    margin-top: 50px;
}
