<h1>ATPriceTracker</h1>
<div class="chartContainer">
  <canvas id="chart-mileage-price"></canvas>
  <script src="/static/js/Chart.bundle.min.js"></script>
  <script src="/static/js/chart-mileage-price.js"></script>
</div>
<div class="footer">
  <a href="https://twitter.com/sosimon">@sosimon</a>
</div>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="/static/css/styles.css" rel="stylesheet">
