<!doctype html>
<html>
<head>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
<title>Health Check</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col s2">&nbsp;</div>
      <div class="col s8">
        <div class="card blue">
          <div class="card-content white-text">
            <div class="card-title">Backend that serviced this request</div>
          </div>
          <div class="card-content white">
            <table class="bordered">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>{{instance.name}}</td>
                </tr>
                <tr>
                  <td>Version</td>
                  <td>{{instance.version}}</td>
                </tr>
                <tr>
                  <td>ID</td>
                  <td>{{instance.id}}</td>
                </tr>
                <tr>
                  <td>Hostname</td>
                  <td>{{instance.hostname}}</td>
                </tr>
                <tr>
                  <td>Zone</td>
                  <td>{{instance.zone}}</td>
                </tr>
                <tr>
                  <td>Project</td>
                  <td>{{instance.project}}</td>
                </tr>
                <tr>
                  <td>Internal IP</td>
                  <td>{{instance.internalip}}</td>
                </tr>
                <tr>
                  <td>External IP</td>
                  <td>{{instance.externalip}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col s2">&nbsp;</div>
    </div>
  </div>
</html>
